.landing-main-container {
  display: flex;
  margin: 3rem 0;
}

.landing-image {
  width: 50%;
}

.form-container {
  margin: 2rem 0 0;
  width: 50%;
  background-color: white;
  padding: 1.5rem 3rem 2rem;
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  color: #000000;
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 2rem;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  margin-top: 1rem;
}

.btn-submit {
  width: 100%;
  background-color: #efc006;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.7;
  border: none;
  padding: 16px 20px;
  border-radius: 12px;
  text-align: center;
}
.btn-submit:hover {
  color: #efc006;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-error {
  margin-top: 2rem;
  width: 50%;
  margin: 2rem auto 0;
  padding: 0.9rem;
  background-color: black;
  color: #efc006;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-error:hover {
  background-color: white;
  border: 2px dashed #efc006;
  color: #efc006;
  font-weight: 600;
  width: 70%;
}

@media screen and (max-width: 550px) {
  .landing-main-container {
    flex-direction: column;
  }
  .landing-image {
    margin: 0 auto;
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
}

@media (min-width: 1201px) {
  .form-container {
    /* width: 50%; */
  }
}
