.user-main-container {
  /* padding: 0 3rem; */
}

.all-users {
  /* display: grid; */
  /* grid-template-columns: auto; */
  /* gap: 50px 100px; */
  /* padding: 0 1rem; */
}
/* 
.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
} */

.pagination-buttons {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

small {
  border: 2px solid #777;
  border-radius: 7px;
  padding: 5px 12px;
  color: #777;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-heading {
  color: #efc006;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 35px;
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}
.prev:hover {
  border-color: transparent;
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  background-color: aqua;
}
.next:hover {
  border-color: transparent;
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  background-color: aqua;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

@media (min-width: 320px) and (max-width: 480px) {
}

@media screen and (max-width: 550px) {
  .title-heading {
    font-size: 25px;
  }
}

@media screen and (min-width: 1201px) {
  .title-heading {
    font-size: 50px;
  }
}
