.main-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("https://bit.ly/3TBQx1y");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.user-box {
  float: left;
  /* width: 50%; */
  border: 2px solid wheat;
  background-color: black;
  color: wheat;
  padding: 3rem 1rem;
  border-radius: 20px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-image {
  height: 100px;
  width: 100px;
  border: 1px solid wheat;
  border-radius: 50%;
  margin: auto 0;
  margin-right: 5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info p {
  padding-bottom: 2rem;
}

.user-info span {
  margin-right: 10px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.prev,
.next {
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 12px;
  border-radius: 9px;
}

.prev {
  margin-right: 2rem;
}
.next {
  margin-left: 2rem;
}

.number-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.number-buttons > .num {
  border-radius: 5px;
  margin-right: 10px;
  background-color: black;
  color: white;
  padding: 7px;
}

.num:hover {
  border-color: transparent;
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  background-color: aqua;
}
