#main-card {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 3rem;
  box-shadow: -5px 2px 18px 4px #ccc;
}

.cover-photo {
  background: #f1da80;
  height: 100px;
}

.photo {
  background: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.avatar {
  position: relative;
  top: -50px;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
}
.first_name {
  margin-right: 8px;
  margin-left: 8px;
}
.content {
  background: #f9f9f9;
  padding: 0 1rem;
}
.name {
  font-size: 18px;
  padding-bottom: 10px;
}

.email {
  font-size: 18px;
  padding-bottom: 20px;
  padding-right: 2rem;
}
.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icons {
  width: 30px;
  margin-bottom: 1rem;
}
.icons:hover {
  cursor: crosshair;
  -webkit-transform: scale(0.5);
  -ms-transform: 1cale (1);
  transform: scale(1.5);
  transition: 2s ease;
}
.phone-container,
.location-container,
.calender-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.phone-number-text,
.location-number-text,
.dob-number-text {
  font-size: 14px;
  color: #9e7f04;
}
.street-num {
  margin-right: 5px;
}
div#main-card:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 550px) {
  .icons-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  #main-card {
    width: 50%;
    margin: 0 auto;
  }
}
